

.advantages {
  position: relative;
  
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.advantages .box-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.list-advantages {
  @extend %list;

  @media screen and (max-width: 767px){
    max-width: 450px;
    & .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  
    & .item {
    width:calc((100% - 30px) / 2);
    margin-bottom: 30px; 
    }

    & .item:not(:last-child) {
      margin-right: 30px;
    }
    
    & .item:nth-child(2n) {
      margin-right: 0px;
    }
    
    & .item:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    
    & .item {
    width:calc((100% - 90px) / 4);
    margin-bottom: 0px;
    }

    & .item:not(:last-child) {
      margin-right: 30px;
    }
    // outline: 2px solid red;
  }
}

.advantages-title {
  text-align: center;
  margin-bottom: 10px;
  @extend %direct-title;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}