.button { 
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;

  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color:  $hero-text-color;
  background-color:  $accent-color;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:focus, &:hover  {
    background-color: #1489e9;
  }

  .pop-up-window & {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  .footer .subscribe & {
    display: inline-flex;
    align-items: center;
    padding: 10px 29px;
    margin-left: -4px;
  
    & .send-icon {
      margin-left: 10px;
    }
  }
}