

.team {
  @extend %indent;
  background-color:  $team-bg-color;
}
.team-title {
  @extend %main-title;
}
.team .name-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
} 
.list-team {
  
  @extend %list;

  & > .item {
    padding-bottom: 24px;
    // width:calc((100% - 90px) / 4);
    background-color:  $primary-bg-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);

    border-radius: 4px;
    overflow: hidden;
  }

  & > .item:not(:last-child) {
    margin-bottom: 30px;

  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    & .item {
    width:calc((100% - 30px) / 2);
    }

    & .item:not(:last-child) {
      margin-right: 30px;
    }
    
    & .item:nth-child(2n) {
      margin-right: 0px;
    }
    
    & .item:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

.team-image {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.public {
  display: flex;
  justify-content: center;
  
  @extend %list;

  & > .item {
    width: 44px;
    height: 44px;
  }

  & > .item:not(:last-child) {
    margin-right: 10px;
  }
}

.public .link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
  border-radius: 50%;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
    &:hover {
    background-color:  $accent-color;
  }
}

.public-icon {
  fill: #AFB1B8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .public .link:focus &,
  .public .link:hover & {
    fill:  $team-bg-color;
  }
}